@import url(variables.css);
@import url(glide.core.min.css);
@import url(glide.theme.min.css);

* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'League Spartan', sans-serif;
}
.leaflet-container{ width:100%; height:550px; }
.count{
  font-weight: 700;
  font-size: 20rem;
  position: absolute;
  top: 20px;
  right: -8px;
  z-index: 2;
  color: rgba(255,255,255,0.4);
  margin: 0;
  padding: 0;
}
h2, .h2{ font-weight:700; font-size: 4rem;line-height:4.25rem; }
h3, .h3{ font-weight:700; font-size: 3.5rem;line-height:3.75rem; }
p{
  font-family: 'League Spartan', sans-serif;
  font-weight:300;
  font-size:1rem;
  line-height: 1.25rem;
}
/*
.container{
  max-width:1110px;
  margin:0 auto;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
}
.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}
*/
img {
  width: 100%;
}
.fs-1{ 
  font-size:3.5rem;
  line-height:3.25rem;
  font-weight: 700;
}
/*
@media(min-width:767px){
  .col-1{
    flex:0 0 auto;
    width:8.33333%;
  }
  .col-2{
    flex:0 0 auto;
    width:16.66667%;
  }
  .col-3{
    flex:0 0 auto;
    width:25%;
  }
  .col-4{
    flex:0 0 auto;
    width:33.3333%;
  }
  .col-5{
    flex:0 0 auto;
    width:41.666667%;
  }
  .col-6{
    flex:0 0 auto;
    width:50%;
  }
  .col-7{
    flex:0 0 auto;
    width:58.3333%;
  }
  .col-8{
    flex:0 0 auto;
    width:66.666667%;
  }
  .col-9{
    flex:0 0 auto;
    width:75%;
  }
  .col-10{
    flex:0 0 auto;
    width:83.333333%;
  }
  .col-11{
    flex:0 0 auto;
    width:91.666667%;
  }
  .col-12{
    flex:0 0 auto;
    width:100%;
  }
}
*/
@media(min-width:991px){

}
/*
@media(max-width:768px){
  .col-1,.col-2,.col-3,.col-4,.col-5{ width:100%; }
}
*/
.section,.form-container{ margin-bottom:200px; }
/* Buttons */
.button{ padding:10px; }
.btn-dark{ background:var(--btn-gray); color:#fff; }
.btn-dark:hover{ background: var(--btn-gray-hover); }
.navigation-header{
  margin-top:40px;
  margin-bottom:40px;
  justify-content: center;
}
.navigation-header .row{
  align-items:center;
  justify-content: space-between;
}
.navigation-header  .menu-hamburger{
  display: flex;
  justify-content: end;
}
.nav{
  list-style: none;
  padding:0;
  display:flex;
}
.nav li{
  padding:0px 20px;
}
.nav li a{
  color:var(--medium-gray);
  font-weight:400;
  font-size:1rem;
  transition:0.3s;
}
.nav li a:hover{
  color:#1B1D23;
  transition: 0.3s;
}
a {
  color: inherit;
  text-decoration: none;
}
li.glide__slide {
  position: relative;
}
.glide__content {
  position: absolute;
  top: 50%;
  z-index: 9;
  transform: translateY(-50%);
  left: 15%;
  max-width: 40%;
}
.glide__slide a{
  max-width:250px;
}
.glide__content h2{ color:#fff; font-family: 'League Spartan', sans-serif; font-size:5rem;font-weight:700;margin:0;}
.glide__content p{ color:#fff; font-size:1.25rem; font-weight:300;line-height:2rem;letter-spacing: 1px;}
.glide__buttons {
  position: absolute;
  left: -80px;
  bottom: 0;
}
.glide__buttons button.glide__bullet {
  padding: 10px;
  border-radius: 0px!important;
  text-align: center;
  width: 80px;
  height: 80px;
  margin: 0;
  box-shadow: none;
  border: none;
  background:#fff;
}
.glide__buttons button.glide__bullet:hover:not(.glide__bullet--active){
  background-color: #EEEFF4;
  color:#7D828F;
}
.glide__buttons button.glide__bullet--active{
  background:#000;
  color:#fff;
}
.dark-theme *{ color:#fff; }

.lg-heading{
  font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    /* text-transform: uppercase; */
    font-size: 12rem;
    color: #EEEFF4;
}
.about-us, .about-arch, .about-content{
  position: relative;
}
.about-us--content {
  position: absolute;
  z-index: 1;
  transform: translateY(-50%);
  top: 50%;
  left: 10%;
}
.section-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.portfolio-page .featured-items{
  margin-bottom:30px;
}
.featured-items {
  position: relative;
}
.featured-items--img.hvr {
  position: relative;
  overflow: hidden;
}
.featured-items--content {
  position: absolute;
  z-index: 1;
  bottom: 30px;
  left: 30px;
}
.featured-items--content p.project-title{
  font-size:1.125rem;
  font-weight:600;
}
.featured-items .gradient{
  background: linear-gradient(to top,#000 40%,transparent);
}
.featured-items--img img {
  object-fit: cover;
  max-height: 550px;
  width: 100%;
  display: block;
  transform: scale(1);
  transition: 0.2s;
}
.portfolio-page .featured-items--img{ position:relative; overflow: hidden;}
.portfolio-page .featured-items--img.hvr img:hover{
  opacity: 0.5;
}
.featured-items--img.hvr img:hover {
  transform: scale(1.5);
  transition: 0.3s;
}
.button{
  display: flex;
  align-items: center;
  line-height: 1rem;
  font-size: 1rem;
  justify-content: center;
  padding: 20px 20px;
  max-width:190px;
  width:100%;
}
.button svg {
  margin-left: 20px;
}
.team-img {
  position: relative;
}
.social.hvr {
  opacity: 0;
  width: 100%;
  position: absolute;
  z-index: 2;
  bottom: 0;
  transition: 0.5s;
  display: flex;
  justify-content:center;
}
.social svg{
  height:35px;
  width:35px;
  color:#fff;
}
.team-img:hover .hvr {
  bottom: 50%;
  transform: translateY(-50%);
  transition: 0.5s;
  opacity: 1;
}
.team-img img {
  max-width: 100%;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.team-img:hover:after {
  content: '';
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: 0.2s;
}
.form-container form{ position: relative; }
.user-box {
  position: relative;
}
.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #C8CCD8;
  outline: none;
  background: transparent;
}
.user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #C8CCD8;
  pointer-events: none;
  transition: .5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #1B1D23;
  font-size: 12px;
}
button.button.btn-dark {
  border: none;
  position: absolute;
    right: 0;
}
button.button.btn-dark:hover{ cursor: pointer; }
button.button.btn-dark svg {
  margin: 0;
}
.d-none {
  display: none;
}
/* Footer */
.footer{ position:relative; }
.footer-inner{
  display: flex;
  align-items: center;
  background: #EEEFF4;
  max-width: 80%;
}
.footer .logo {
  background: #000;
  height: 100%;
  display: flex;
  padding: 50px;
}
.footer-inner ul.nav {
  margin-left: 85px;
}
a.right-bleed {
  position: absolute;
  right: 0;
  /* width: 255px; */
}
.mobileMenu {
  background: #fff;
  position: absolute;
  width: 100%;
  height:100%;
  z-index: 9;
  transform: translatex(-100%);
  transition: transform 0.4s ease-in-out;
}
.mobileMenu.close{
  transform: translatex(-100%);
    transition: transform 0.4s ease-in-out 0.2s;
}
.mobileMenu.open{
  transform: translatex(0px);
  transition: transform 0.4s ease-in-out;
}
.close-icon svg {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.navigation-header .menu-hamburger svg {
  height: 40px;
  width: 30px;
  cursor: pointer;
}
.close-icon {
  display: flex;
  justify-content: end;
  padding-right: 30px;
}
@media(min-width:991px){
  .mobileMenu{ display: none;}
  .about-arch .lg-heading{
    position: absolute;
    top: -90px;
    z-index: 2;
    letter-spacing: 2px;
  }
  .about-arch--content{
    padding:0px 125px;
  }
  .about-us--content {
    max-width:30%;
  }
  /* About Page */
  .about-content .lg-heading{
    position: absolute;
    top: -210px;
    left: -10px;
  }
  .about-intro .row{ 
    align-items: flex-end;
  }
  .bleed-content {
    margin-left: -140px;
    z-index: 9;
    width: 60%;
}
  .about-content {
    padding: 80px 15px 0px 110px;
      background: #fff;
  }
  .about-content p {
    margin: 0;
  }
  .visible-md{ display: none; }
}
@media (max-width:991px) {
  .navigation-header .col-sm-6 { width:50%; }
  .section {
    margin-bottom: 100px;
  }
  .about-us--content{ padding-right:30px; }
  .lg-heading{ display: none; }
  .glide__buttons, .d-md-none{ display:none; }
  .fs-1{ margin-top:0; }
  .lg-heading{ font-size:6rem;}
  .row{ padding:0px 15px; }
  
  .featured-items {
    margin-bottom: 35px;
  }
  .featured-items--img img {  
    max-height: 340px;
  }
  .mobileMenu .nav{ display:block!important; }
  .mobileMenu .nav li { padding:30px 10px;}
  .mobileMenu .nav li a { font-size:2rem; font-weight:500; }
  
  .footer-inner {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
  }
  .footer .logo {
    margin-top: -67px;
}
.footer-inner .nav { width:100%; }
  .footer-inner ul.nav{
    margin-left:0px;
    flex-wrap: wrap;
  }
  .footer-inner ul.nav li{
    display: block;
    width: 100%;
  }
  .footer-inner ul.nav li a {
    display: block;
    width: 100%;
    padding:10px 0px; 
    text-align: center;
  }
  a.right-bleed {
    position: relative;
    /* right: 0; */
    width: 255px;
  } 
  .visible-md{ display: block; }
  .hidden-md{ display: none; }
}
@media(min-width:768px){
  .menu-hamburger{ display: none; }
  .footer-inner{
    min-height: 200px;
  }
  .footer .logo {
    min-height: 200px;
  }
  
}
@media(max-width:767px){
 
  .glide__content{
    max-width: 65%;
  }
  .glide__content h2{
    font-size:3rem;
  }
  .glide__content p{
    font-size:1rem;
    line-height: 1.25rem;
  }
}
/*
@media(max-width:557px){
  .col-sm-6{ width:50%; }
}
*/